<a href="https://colab.research.google.com/github/davidfatec/PythonEstudos/blob/main/AulaENAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![python.PNG]()

**CURSO ENAP Setembro 2021 - PYTHON**

**Módulo 1: Variáveis, Operações, Condições**

**Variáveis**
Atribuição de Variáveis
As variáveis são as mesmas que as variáveis em matemática, exceto que variáveis matemáticas são muitas vezes letras, mas variáveis de programação podem ser palavras.

Variáveis: um conjunto que contém algumas informações.

Nota sobre a declaração de variáveis:

Case-sensitive (ou seja, caracteres em caixa alta ou baixa são tratados como diferentes)
DEVE começar com uma letra ou um sublinhado; NÃO PODE começar com números.
NÃO PODE ser o mesmo nome que as palavras-chave Python (por exemplo, class, finally, etc.)
NÃO especificar o tipo de informação armazenada na variável. (Consulte os seguintes códigos para um exemplo.)

In [ ]:
#manipulando texto => a frase abaixo é armazenada caracter por caracter inicia no 0 e vai até 19, pois possui 20 caracteres
frase = 'Eu moro em Bebedouro'
#Eu moro em  B e b e d o u r o
#012345678910111213141516171819
print(frase)
#fatiando a string                                
print(frase[5])
#fatiando pedaço da frase range nesse caso o ultimo valor(8) nao entra na contagem
print(frase[3:8])
#fatiando pulando de 2 em 2
print(frase[3:8:2])
#fatiando começando do caracter zero e indo até o 8 ou seja até o caracter 7 pois o 8 não é incluido
print(frase[:8])
#fatiando indo do caracter indicado(incluindo ele mesmo) até o final 
print(frase[11:])
#fatiando do nono caracter até o ultimo
print(frase[9:])
#fatiando do nono ate o ultimo de 3 em 3
print(frase[9::3])

#analisando uma string
#o len (comprimento) mostra o total de caracteres 
print(len(frase)) 
#comando count(a) conta quantos caracteres (a) tem na string 
print(frase.count('o'))
#conta com fatiamento de 0 a 10, anulando o 10ºcaracter
print(frase.count('o',0,13))
#encontrar a parte desejada .find('caracter desejado') se retornar o valor -1 indica que não foi encontrado
print(frase.find('dou'))
#indicador indica true or false
print('moro' in frase)

#transformação muda por metodos
print(frase.replace('Bebedouro','Gramado'))
#upper modifica o caracter minusculo pelo maiusculo
print(frase.upper())
#lower modifica todos os caracteres para minusculo
print(frase.lower())
#capitalize modifica a primeira letras da string para maiuscula
print(frase.capitalize())
#title modifica todas as primeiras letras das palavras para maiusculo (ele percebe isso pela posição do espaço)
print(frase.title())
#strip - remove espaço no inicio e final da string rstrip (remove direita) lstrip(remove esquerda)
fraseEspaco = '   deixei espaço no inicio e no fim   '
print(fraseEspaco)
print(fraseEspaco.strip())
print(fraseEspaco.rstrip())
print(fraseEspaco.lstrip())

#divisão de strings
#split - dividi a string considerando os espaços
print(frase.split())
#join - junta os caracteres
frase2 = frase.split()
print(' '.join(frase2))

**OPERADORES ARITIMETICOS**

In [ ]:
#Operações aritmeticos soma +, subtração -, divisão /, multiplicação *, potencia **, divisão inteira //, resto da divisão %
numero1 = int(input('Digite um numero: '))
numero2 = int(input('Digite outro numero: '))
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2
potencia = numero1 ** numero2
divisaoInteira = numero1 // numero2
restoDaDivisao = numero1 % numero2

print('As operações aritmeticas entre {} e {} são:'
       '\n Soma {},\n Subtração {}, \n Multiplicação {},'
       '\n Divisão {}, \n Potenciação {},\n Divisão inteira {}, \n resto da divisão {}'
       .format(numero1,numero2,soma,subtracao,multiplicacao,
              divisao,potencia,divisaoInteira,restoDaDivisao)
     )

#ordem de precedencia () , ** potenciação, {* / // %} e por ultimo + e -

**LISTA DE EXERCICIOS [1]**

In [ ]:
#1)Faça um programa que peça dois numeros e imprima a soma desses 2 numeros.
n1 = int(input('Digite um número: '))
n2 = int(input('Digite outro número: '))
soma = n1 + n2
msg = 'A soma de {} e {} é {}'.format(n1,n2,soma)
print(msg)

In [ ]:
#2)escreva um programa que leia um valor em metros e exiba convertido em milimetros
valor = float(input('Digite um valor em metro: '))
milimetros = valor * 1000
msg = 'O valor de {} metros Corresponde a {:.0f} milimetros'.format(valor,milimetros)
print(msg)

In [ ]:
#3)Escreva um programa que leia a quantidade de dias, horas, minutos e segundos do usuario.Calcule o total em segundos
dias = int(input('Digite quantos dias: '))
horas = int(input('Digite quantas horas: '))
minutos = int(input('Digite quantos minutos: '))
segundos = int(input('Digite quantos segundos: '))
totalSegundos = (dias*24*60*60)+(horas*60*60)+(minutos * 60)+segundos
msg = '{} dia(s)\n{} hora(s)\n{} minuto(s)\n{} segundo(s)\nCorresponde a {} segundo(s)'.format(dias,horas,minutos,segundos,totalSegundos)
print(msg)

In [ ]:
'''
4)Faça um programa que calcule o aumento de um salario. Ele deve solicitar o valor do salario 
atual e a porcentagem do aumento e exibir o valor do aumento e do novo salario
'''
salarioAtual = float(input('Digite o valor do salario atual: R$'))
percentualAumento = float(input('Digite o persentual de aumento: '))
valorDoAjuste = percentualAumento/100 * salarioAtual
novoSalario = salarioAtual + valorDoAjuste
msg = 'O seu novo salário teve um aumento de R${:.2f} e passa a ser R${:.2f} a partir de hoje'.format(valorDoAjuste,novoSalario)
print(msg)

In [ ]:
#5)Solicite o preço de uma mercadoria e o percentual de desconto. Exiba o valor do desconto e preço a a pagar. 
preco = float(input('Digite o preço: R$'))
perDesconto = float(input('Digite o percentual de desconto: '))
valorDesconto = perDesconto/100 * preco
precoDesconto = preco - valorDesconto
msg = 'O desconto foi de R${:.2f} e o preço com desconto é R${:.2f}'.format(valorDesconto,precoDesconto)
print(msg)

In [ ]:
#6)Calcule o tempo de uma viagem de carro. Pergunte a distancia a percorrer e a velocidade media da viagem.
distancia = float(input('Digite a distancia a percorrer em km: '))
velocidadeMedia = float(input('Digite a velocidade media km/h: '))
tempo = distancia / velocidadeMedia

tempo_segundo = int(tempo * 3600) # converte o tempo em horas para segundos ex 1.5 horas = 5400 segundos
horas = int(tempo_segundo // 3600) # parte inteira apenas a hora 5400 / 3600 = 1.5 nesse codigo a variavel recebe apena o 1
tempo_segundo = int(tempo_segundo % 3600) # o resto de 5400 % 3600 = que equivale a 0.5 de 3600 (1800)
minutos = int(tempo_segundo // 60) #recebe os 1800 / 60 = 30 
segundos = int(tempo_segundo % 60) #recebe o resto de 1800 / 60 = 0

print('''
Para percorrer {:.2f} kilometros
a velocidade de: {:.2f} km/h
levaremos {:03d}:{:02d}:{:02d}'''.format(distancia,velocidadeMedia,horas,minutos,segundos))

In [ ]:
#7)Converta uma temperatura digitada em Celsius para Fahrenheit. F = 9*C/5 + 32
c = float(input('Digite quantos graus Celsius: '))
f = (9*c/5) + 32
print('{:.2f} grau(s) Celsius equivale a {:.2f} grau(s) Fahrenheit'.format(c,f))

In [ ]:
#8)Faça um sistema que converta de grau Fahrenheit para Celsius (F − 32) × 5/9 
f = float(input('Digite quantos graus Fahrenheit: '))
c = (f - 32) * 5/9
print('O valor de {:.2f}ºF equivale a {:.2f}ºC'.format(f,c))

In [ ]:
'''
9)Escreva um programa que pergunte a quantidade de Km percorridos por um carro alugado pelo usuario, assim como a quantidade de dias pelos quais
o carro foi alugado.Calcule o preço a pagar, sabendo que o custo por dia é R$60,00 e R$0,15 por KM rodado.
'''
diasLocados = int(input('Digite o numero de dias que o carro foi locado: ')) 
valorDia = float(input('Digite o valor da diaria: R$'))
kmInicial = float(input('Digite o km inicial: ')) 
kmFinal = float(input('Digite o km Final: '))
valorKm = float(input('Digite o valor por km: R$'))
kmRodado = kmFinal - kmInicial
totalPagar = (diasLocados * valorDia) + (kmRodado * valorKm)
msg = '''
Descrição da locação: 
Dias locados: {} dias R${:.2f}
Km Rodado: {:.0f} km R${:.2f}
Total a pagar R${:.2f}'''.format(diasLocados,diasLocados * valorDia,kmRodado,kmRodado * valorKm,totalPagar)
print(msg)

In [ ]:
'''
10)Escreva um programa para calcular a redução do tempo de vida de um fumante. Pergunte a quantidade de 
cigarros fumados por dia e quantos anos ele ja fumou. Considere que um fumante perde 10 minutos de 
vida a cada cigarro, calcule quantos dias de vida um fumante perdera. Exiba o total em dias. 
'''
#logica 1
cigarrosDia = int(input('Quantos cigarro fuma por dia? '))
anosQueFuma = float(input('quantos anos fuma? '))
cigarroFumados = (anosQueFuma * 365) * cigarrosDia
tempoDeVidaPerdido = (cigarroFumados * 10) / 1440 #1440 é a quantidade de minutos que tem um dia
print('Por ter fumado {:.0f} cigarros durante {:.0f} ano(s), sinto lhe informar que perdeu {:.0f}'
      ' dias de sua vida'.format(cigarroFumados,anosQueFuma,tempoDeVidaPerdido))

#logica 2
print("Outra forma")
cigarrosDia2 = int(input("Quantidade de cigarros por dia:"))
anosQueFuma2 = float(input("Quantidade de anos fumando:"))
reducaoMinutos = anosQueFuma2 * 365 * cigarrosDia2 * 10
# Um dia tem 24 x 60 minutos
reducaoDias = reducaoMinutos / (24 * 60)
print("Redução do tempo de vida %8.0f dias." % reducaoDias)

In [ ]:
#11)Sabendo que str() converte valores numericos para string. Calcule quantos digitos há em 2 elevado a um milhao
int = 2 ** 1000000
#str = str(int)
print(int)
print('2 elevado a um milhão possui {} digitos'.format(len(str)))

**Lista de exercicios [2]**

In [ ]:
'''
1)Faça um algoritimo que peça os tres lados.O programa deverá informar se os valores podem ser um triangulo.indique,
caso os lados formem um triangulo, se o mesmo é: equilatero, isosceles ou escaleno
'''
lado1 = float(input('Digite o lado 1: '))
lado2 = float(input('Digite o lado 2: '))
lado3 = float(input('Digite o lado 3: '))

triangulo = False

if lado1 < lado2 + lado3 and lado2 < lado1 + lado3 and lado3 < lado1 + lado2:
    triangulo = True
    print('O lado 1 {:.1f}, lado2 {:.1f} e lado 3 {:.1f} formam um tringulo.'.format(lado1,lado2,lado3))
    if (lado1 != lado2 and lado2 != lado3 and lado3 != lado1):   
       print('Esse tringulo é de tipo escaleno.')
    if (lado1 == lado2 != lado3) or (lado1 == lado3 != lado2) or (lado2 == lado3 != lado1):
       print('Esse tringulo é de tipo isosceles')
    if(lado1 == lado2 and lado2 == lado3 and lado1 == lado3):   
       print('Esse tringulo é de tipo equilatero')
if(triangulo == False):    
    print('Não formam um triangulo')
print('Fim do sistema')

In [ ]:
#2)Determine um ano, verifique se é bissexto não. 
print('Verificador de ano bissexto.')
ano = int(input('Digite um ano para obter a informação: '))

if(ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0):
    print('O ano {} é bissexto'.format(ano))
else:
    print('O ano {} não é um ano bissexto'.format(ano))

In [ ]:
'''
3)João papo de pescador, homem de bem, comprou um microcomputador para controlar o rendimento diario de seu trabalho. toda vez que ele
traz um peso de peixes maior que o estabelecido pelo regulamento de pesca do estado de São Paulo(50 kilos) deve pagar uma multa de
R$4,00 por por quilo excedente. Joao precisa que voce faça um programa que leia a variavel peso e verifique se ha excesso. Se houver
gravar na variavel excesso e na variavel multa o valor da multa que joão deverá pagar.Caso contrario mostras tais variaveis com o conteudo 
zero
'''
peixePescado = float(input('Digite a quantidade pescada hoje: '))
valorDaMulta = float(4)
multa = float(0)
excesso = peixePescado - 50

if(excesso > 0):
    multa = valorDaMulta * excesso
    print('Assim não deixará peixes para seus descendentes\nExcesso: {:.2f}kg\nMulta: R${:.2f} de multa'.format(excesso,multa))
else:
    print('Parabéns voce ficou dentro do limite\nExcesso: {:.2f}kg\nMulta: R${:.2f}'.format(excesso,multa))    
print('Fim do Sistema')

In [ ]:
#4)faça um programa que leia tres numeros e mostre o maior deles
n1 = int(input('Digite o primeiro numero: '))
n2 = int(input('Digite o segundo numero: '))
n3 = int(input('Digite o terceiro numero: '))
maior = n1
if n2>n1 and n2>n3:
    maior = n2
if n3>n1 and n3>n2:
    maior = n3
print('Dentre os tres numeros digitados {}, {} e {}\n{} é o maior'.format(n1,n2,n3,maior))

In [ ]:
#5)Faça um Programa que leia tres numeros e mostre o maior e o menor deles 
n1 = int(input('Digite o primeiro numero: '))
n2 = int(input('Digite o segundo numero: '))
n3 = int(input('Digite o terceiro numero: '))
menor = n1
if n2 < n1 and n2 < n3:
    menor = n2
if n3 < n1 and n3 < n2:
    menor = n3
maior = n1
if n2 > n1 and n2 > n3:
    maior = n2
if n3 > n1 and n3 > n2:
    maior = n3     
    
print('Dentre os tres numeros digitados {}, {} e {}\nO maior é: {}\nO menor é: {}'.format(n1,n2,n3,maior,menor))

In [ ]:
'''
6)Faça um programa que pergunte quanto voce ganha por hora e o numero de horas trabalhadas no mês. Calcule e mostre o total do seu salario
no mês referido, sabendo que são descontados 11% para o imposto de renda, 8% para o INSS e 5% para o sindicato, faça um programa que nos dê
o salario bruto, quanto pagou ao INSS, quanto pagou ao sindicato e o salario liquido. Observe que salario Bruto - descontos = salario 
liquido. Calcule os descontos e o salario liquido, conforme o enunciado;
'''
print('-=-'*30)
print('                         F O L H A  D E  P A G A M E N T O')
print('-=-'*30)
#recebe os valores
mes = input('Digite o mes de referência: ')
mes = mes.upper()
ano = input('Digite o ano de referencia: ')
horasTrabalhada = float(input('Digite quantas horas trabalhadas no mês: '))
valorHora = float(input('Digite o valor pago por hora: R$ '))
#logica para valores
salarioBruto = horasTrabalhada * valorHora
inss = (8/100 * salarioBruto)
IR = (11/100 * salarioBruto)
sindicato = (5/100 * salarioBruto)
totalDesconto = inss + IR + sindicato
salarioLiquido = salarioBruto - totalDesconto
#Mostra a informação detalhada
print('-=-'*30)
print('                                   Referencia                 {} de {}'.format(mes,ano))
print('-=-'*30)
print('Horas trabalhadas: {:.0f} h/mês\nValor por hora: R${:.2f}\n\033[1;32m************************************************************ Valor sem desconto: R${:.2f}\033[m'
      '\n\033[1;31m******************** Desconto IR: R${:.2f}\n******************** Desconto INSS: R${:.2f}\n******************** Contribuição Sindical: R${:.2f}'
      '\n**************************************** Total de Descontos: R${:.2f}\n\033[m\033[1;32m************************************************************ Salario liquido: R${:.2f}\033[m'.format(horasTrabalhada,valorHora,salarioBruto,IR,inss,sindicato,totalDesconto,salarioLiquido))

print('-=-'*30)
print('                                               S y s P a g')
print('-=-'*30)

In [ ]:
'''
7)Faça um programa para uma loja de tintas. O programa deverá pedir o tamanho em metros quadrados da area a ser pintada. 
Considere que a cobertura da tinta é de 1 litro para cada 3 metros quadrados e que a tinta é vendida em latas de 18 litros,
que custam R$ 80,00. Informe ao usuario a quantidade de latas de tinta a serem compradas e o preço total. Obs as lata só são mentidas inteiras
'''
print('-=-'*30)
print('                                    Orçamento NOVA TINTAS')
print('-=-'*30)
areaPintura = float(input('Informe a area a ser pintada em metros quadrados: '))
preco = float(80)
qdeLata = int(18)
qdeNecessaria = areaPintura / 3
sugestao = qdeNecessaria / qdeLata
if sugestao % 1 != 0:
    sugestao = int(sugestao + 1)
    
total = sugestao * preco
print('-=-'*30)
print('                                    Orçamento NOVA TINTAS')
print('-=-'*30)    

print('Para a area de {:.2f}m² você vai utilizar {:.2f} litros de tinta'
      '\nÉ preciso comprar {:.0f} lata(s)'.format(areaPintura,qdeNecessaria,sugestao))
print('Total a pagar: R${:.2f}'.format(total))

In [ ]:
'''
8)Desenvolva uma lógica que leia o peso e a altura de uma pessoa, calcule seu IMC e mostre seu status, de acordo com a tabela abaixo:
abaixo de 18.5: abaixo do peso
entre 18.5 e 25: peso ideal
25 até 30: sobrepeso
30 até 40: Obesidade
Acima de 40: obesidade morbida
'''
altura = str(input('Digite sua altura: '))
peso = str(input('Digite seu peso: '))
altura = float(altura.replace(',','.'))
peso = float(peso.replace(',','.'))
imc = peso / (altura**2)
status = 'abaixo do peso'
if imc >=18.5 and imc < 25:
    status = 'no peso ideal'
elif imc >= 25  and imc < 30:
    status = 'com sobrepeso' 
elif imc >= 30 and imc <= 40:
    status = 'em obesidade'   
elif imc > 40:
    status = 'em obesidade morbida'      
msg ='''
Com base na sua altura de {:.2f} 
Seu peso de {:.2f}kg
Seu IMC é {:.2f}
No calculo de imc diz que você está {}
'''.format(altura,peso,imc,status)
print(msg)

**MODULO 2**

In [ ]:
#tabuada com while
numero = int(input("Digite um número: "))
i = 1
while i <= 10:
  print("{} X {:2d} = {:3d}".format(numero, i,numero * i))
  i = i+1

In [ ]:
while True:
  usuario = input("Escreva o nome das pessoas (end sai do sistema): ")

  ## Quando o "break" é acionado, o print() abaixo NÃO será executado.
  ## O programa romperá o loop quando esta palavra-chave for lida.
  if usuario=="end":
    print("fim do programa!!!")
    break
  print(usuario)

**Tabuada até o end ser acionado**

In [ ]:
import os
os.system('cls' if os.name == 'nt' else 'clear')
end = False
print("Inicio do Sistema")
while end == False:
  print("[0] sai do sistema")
  numero = int(input("Digite um número: "))
  if numero== 0 :
    print("Fim do sistema!!!")
    end = True
  else: 
    i = 1
    print("Tabuado do {}".format(numero))
    while i <= 10:
      print("{} X {:2d} = {:3d}".format(numero,i,numero*i))
      i+=1

**Loop pulando multiplos de variavel escolhida**

In [ ]:
"""
Vamos considerar um loop que conta de 1-20, mas ignora todos os números que são múltiplos de 5. 
Neste caso, NÃO poderíamos usar a palavra-chave "break", porque isso encerrará o loop. 
Queremos "continuar" o loop, exceto por alguns números. 
"""
contador = 1
multiplo = 8

# Implementação do loop WHILE
while contador + 1 <= 20:
  if contador % multiplo == 0:
    print("SKIP")
    contador += 1
    continue
  print(contador)
  contador += 1

**Mesmo loop acima, mas usando o for**

In [ ]:
multiplo = 4
for i in range (1, 20+1):
  if i % multiplo == 0:
    print("SKIP")
    continue
  print(i)

**Funções**

Funções são úteis quando lhe é dado um problema que pode ser dividido em várias etapas e algumas etapas são usadas de forma repetitiva. Então, ter uma função para essas etapas é conveniente porque reduz a repetição de código e torna o código mais organizado.

Notas sobre a definição de uma nova função:

1-Definir/inicializar uma nova função com a palavra-chave def antes do nome da função.

2-NÃO definir o tipo de retorno na declaração da função.

3-NÃO esquecer do parâmetro da função se sua função precisar de informações do main() ou de outras funções.

4-A declaração RETURN não é necessária, dependendo das funções.

In [ ]:
"""
Escreveremos nossa própria função que testa se um triângulo de 3 lados é um triângulo retângulo. 
Como não podemos controlar a ordem dos lados que o usuário nos dá (de tal forma que C é o comprimento mais longo), 
precisamos verificar manualmente se C é o comprimento mais longo (os comprimentos A e B podem estar em qualquer ordem). 
Caso contrário, nosso teorema de Pitágoras falhará. 
"""

def triangulo(a, b, c):

  # Reatribuir valores variáveis para garantir que C seja o comprimento mais longo
  if (max(a,b,c) != c):

    # temporario armazena os valores anteriores de C, que não é o comprimento mais longo
    temporario = c
    c = max(a,b,c)

    if a == c:
      a = temporario
    elif b == c:
      b = temporario
    

  # Aplicar a fórmula
  if a**2 + b**2 >= c**2:
    print("É um triangulo")

    # Se o programa vê uma declaração Return, este é o FIM do programa/função
    return True
  
  # Estas duas linhas funcionarão SOMENTE quando a condição IF for falsa
  print("NÃO é um triangulo")
  return False


# Solicite ao usuário que insira 3 comprimentos
def main():
  a = input("Entre com o tamanho da primeira borda do triangulo:")
  b = input("Entre com o tamanho da segunda borda do triangulo:")
  c = input("Entre com o tamanho da terceira borda do triangulo:")

  # As entradas do usuário são armazenadas como uma string, então nós as computamos para ser int
  return triangulo(int(a), int(b), int(c))

if __name__ == "__main__":
    main()

Entre com o tamanho da primeira borda do triangulo:5
Entre com o tamanho da segunda borda do triangulo:4
Entre com o tamanho da terceira borda do triangulo:3
é um triangulo

**Palavra palindromo**

In [ ]:
import string

def palindromo(str):
  exclude = set(string.punctuation)
  str = ''.join(ch for ch in str if ch not in exclude)
  str = str.replace(" ", "").lower()
  if str == str[::-1]:
    return str + " É um palindromo!"
  else:
    return str + " NÃO é palindromo!"

def main():
  frase = input("Digite um frase para saber se é um palindromo: ")
  print(palindromo(frase))

if __name__ == "__main__":
    main()

**MODULO 3 -**
**Estruturas Básicas de Dados**

**Lista**
é uma estrutura de dados mutável que armazena elementos em um formato desordenado, como uma matriz.

In [ ]:
# Iniciar uma lista vazia
list1 = []
# OU
list1 = list()

# Iniciar uma lista com elementos
list2 = ['hello', 'hola', 'olá']
print(list2[2])

"""
Os elementos da lista NÃO precisam ser do mesmo tipo, mas isto é incomum.
Neste caso, cada lista poderia representar a série de informações sobre uma pessoa, 
mas é preciso lembrar quais informações são armazenadas em cada index. ---> Existe uma opção melhor para este propósito - dicionário.
"""
list3 = ["John", "male", 20, False]
print(list3[0])
print(list3[1])
print(list3[2])
print(list3[3])

olá
John
male
20
False

In [ ]:
# Acess às informações armazenadas na lista por posição ("index")
# Nota: em CS, a primeira posição é SEMPRE 0
print("First element in list2 : "+ list2[0])
print("Second element in list2 : "+ list2[1])

First element in list2 : hello
Second element in list2 : hola

In [ ]:
# Inserir um novo elemento como um local específico, no index 1
list2.insert(1,'hallo')
list2[1]

'hallo'

In [ ]:
# Anexar um novo elemento no FIM da lista
list2.append('bye')
list2

['hello', 'hallo', 'hola', 'olá', 'bye']

In [ ]:
# Remover um elemento da lista especificando o elemento que você deseja remover
list2.remove('hello')

In [ ]:
"""
Outra maneira de remover um elemento: pop()
pop() permite que você identifique uma posição 
"""
list2.append("hallo")
list2.pop()
list2

['hallo', 'hola', 'olá', 'bye']

In [ ]:
"""
As listas também podem ser ordenadas. 
O método de ordenação depende de como a interface comparável é implementada para os objetos da lista.

Neste caso da list2, sort() funciona ordenando caracteres individuais na string de acordo com o código ASCII.
"""
list2.sort()
list2

In [ ]:
"""
Como a lista é dinâmica, significa que o tamanho da lista aumenta ou diminui à medida que inserimos ou removemos elementos,
poderíamos executar len() para encontrar o tamanho da lista em um determinado momento. 
"""

# Como len() retorna int, para concatená-la a uma string, precisamos computá-la.
print("size of list1 = " + str(len(list1)))
print("size of list2 = " + str(len(list2)))

size of list1 = 0
size of list2 = 4

In [ ]:
# Imprimir itens na lista como string, separados por uma vírgula
",".join(list2)

'hallo,hola,olá,bye'

In [ ]:
lists = []
lists.append([1,2,3])
lists.append(['a','b','c'])

lists

[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
# Da mesma forma, você pode indexar as listas multidimensionais.

lists[1]
lists[1][0]

'a'

**Tupla**
→ "lista" imutável que não pode ser manipulada depois de criada. Elas suportam todas as listas de operações, exceto aquelas que modificam a lista.

In [ ]:
# Inicializar uma tupla vazia
y = tuple()
y

# Criar uma nova tupla de elementos
x = (1,2,3)

In [ ]:
# ERROR: não pode ser adicionado a uma tupla
x.append(4)

In [ ]:
# Isto é OK porque está criando uma nova tupla com x e (4,5,6) adicionado no final
x + (4,5,6)

In [ ]:
# x NÃO é modificado pela linha anterior
x

In [ ]:
# Criar uma nova tupla com x aparecendo duas vezes
x * 2

In [ ]:
# Index dos elementos na tupla
x.index(3)

In [ ]:
# abreviação para 
#  (a,b,c) = (1,2,3)

# Isto também atribui a = 1, b = 2, c = 3

a,b,c = 1,2,3

1

In [ ]:
# Converter uma tupla em uma lista
x = (1,2,3,4)
list(x)

In [ ]:
# Converter uma lista em uma tupla
x = [1,2,3,4]
tuple(x)

In [ ]:
# Declarar uma nova tupla, nome "person"
person  = ('Jane','Doe', 21)

# "Pacote"/associar cada elemento da tupla com uma etiqueta. Observe a ordem das etiquetas.
first, last, age = person

In [ ]:
# ERROR: x é uma tupla de 4 valores, mas está tentando descompactar SOMENTE 3 elementos.
# Incompatibilidade no tamanho da tupla
x = (1,2,3,4)

a,b,c = x

In [ ]:
# Isto é OK!
x = [1,2,3,4]
a,b,c,d = x

**Conjunto** → uma estrutura de dados mutável que armazena objetos não duplicados e imutáveis e ordena os elementos em ordem ascendente. Cada elemento do conjunto é único.

In [ ]:
# Inicializar um conjunto vazio
newSet = set()
newSet

set()

In [ ]:
# Um conjunto com elementos
ex1 = {1, 2, 2, 1, 1}

ex1

In [ ]:
ex2 = {j for j in range(10)}
ex2

In [ ]:
# 2 já existe no ex2. O que acontece se quisermos acrescentar o 2 novamente?
  # Nota: A implementação do conjunto NÃO definiu append(), então usaremos add().
    # add() irá inserir o novo elemento na posição correta com a ordenação do conjunto
ex2.add(2)
ex2.add(100)
ex2.add(50)
ex2

In [ ]:
# objetos mutáveis não podem ser colocados em um conjunto
d_set = {[1,2,3]}

d_set

In [ ]:
# Converter uma lista em um conjunto
ages = [10, 5, 4, 5, 2, 1, 5]

set_of_ages = set(ages)

set_of_ages

{1, 2, 4, 5, 10}

In [ ]:
# Converter um conjunto em uma lista
list_of_ages = list(set_of_ages)

list_of_ages

[1, 2, 4, 5, 10]

In [ ]:
# Converter um conjunto em uma tupla
tuple_of_ages = tuple(list_of_ages)

tuple_of_ages

In [ ]:
# A ordem é irrelevante na comparação de conjuntos, uma vez que os elementos são ordenados

{1,2,3} == {2,1,3}

**Dicionário** → uma estrutura de dados que armazena pares de valores chave nos quais as chaves DEVEM ser objetos imutáveis.

In [ ]:
# Inicializar um dicionário vazio
# O mesmo do conjunto, mas com:
dict = {}

# Declare um dicionário com pares de chaves/valores
dict2 = {'a': 5, 'b': 10, 'c': 100, 'd': 9.5}

In [ ]:
# Acessar dados em um dicionário com uma chave
dict2['b']

In [ ]:
# Atualização do valor de uma chave existente
dict2['b'] = 50

dict2['b']

In [ ]:
# O que acontece se quisermos ter acesso ao valor de uma chave inexistente? (por exemplo, 'z')


# Podemos esperar um ERROR porque esta chave não existe, portanto, não tem valor. 
# Esta é uma suposição correta.
dict2['z']

In [ ]:
# Os valores no dicionário podem ser misturados
# Vejamos um exemplo com dict{}, um dicionário vazio iniciado acima.
# Primeiro, vamos inserir alguns pares de chaves/valores no programa. 

dict["greeting"] = "hello message"
dict["alphabet"] = ['a', 'b', 'c', 'd', 'e']
dict["check-in"] = False
dict["phoneNumber"] = 8007782346

dict

{'alphabet': ['a', 'b', 'c', 'd', 'e'],
 'check-in': False,
 'greeting': 'hello message',
 'phoneNumber': 8007782346}

In [ ]:
# Nota IMPORTANTE: a chave deve ser um objeto imutável (algo que não pode ser modificado)
# A string é imutável, porque você não poderia simplesmente apagar um caractere em uma string. Uma string é uma string, do jeito que ela é.

# Vemos acima que uma lista pode ser um valor no dicionário. 
# O que acontece quando tentamos fazer dela uma chave?

# ERROR: tipo inalcançável de lista 

# Porque poderíamos modificar a lista inserindo novos elementos, ordenando elementos, apagando elementos ou outras formas de modificá-la, mas ela NÃO PODE ser uma chave


dict[['a','b', 'c']] = [False, True, False]

In [ ]:
# Mas como a tupla é imutável, podemos substituir a lista por uma tupla
dict[('a','b', 'c')] = [False, True, False]

dict

{('a', 'b', 'c'): [False, True, False],
 'alphabet': ['a', 'b', 'c', 'd', 'e'],
 'check-in': False,
 'greeting': 'hello message',
 'phoneNumber': 8007782346}

In [ ]:
# Podemos também buscar todas as chaves
dict.keys()

dict_keys(['greeting', 'alphabet', 'check-in', 'phoneNumber', ('a', 'b', 'c')])

In [ ]:
# Ou todos os valores
dict.values()

dict_values(['hello message', ['a', 'b', 'c', 'd', 'e'], False, 8007782346, [False, True, False]])

In [ ]:
# Os elementos de um dicionário também podem retornar como um par.
dict.items()

dict_items([('greeting', 'hello message'), ('alphabet', ['a', 'b', 'c', 'd', 'e']), ('check-in', False), ('phoneNumber', 8007782346), (('a', 'b', 'c'), [False, True, False])])

**Módulo 4: Programação Orientada à Objetos**

Objetivos de aprendizagem:

Compreender o uso do método init () e o parâmetro self. Declarar corretamente uma classe/objeto.

Reconhecer a diferença entre funções e métodos e o escopo dos métodos, e fazer chamadas de métodos.

Entender como o nível de herança afeta as chamadas e variáveis do método.

Vamos considerar o sistema de biblioteca como um exemplo de Programação Orientada à Objetos

Uma biblioteca tem uma série de livros.

Quais devem ser os dados associados a cada livro?

Há alguma operação que um livro deve realizar?

Então, construiremos a classe LibraryBook para armazenar dados sobre cada livro e os métodos/operações de suporte no sistema da biblioteca.

Classes são plantas, desenhos ou modelos para instâncias. A relação entre uma classe e uma instância é semelhante àquela entre um cortador de biscoitos e um biscoito.

Um único cortador de biscoitos pode fazer quantos biscoitos forem necessários. O cortador define a forma do biscoito.
Os biscoitos são comestíveis, mas o cortador de biscoitos não é.

Referências das palestras do professor Daniel Bauer ENGI1006 da Universidade de Columbia.

In [5]:
# LibraryBook é o nome da classe
class LibraryBook:
  """
  A library book
  """

  # pass indica que o corpo/fato da definição da classe está vazio.
  pass

In [6]:
# Isto irá criar uma instância da classe.
my_book = LibraryBook()
my_book

In [7]:
type(my_book)

__main__.LibraryBook

In [8]:
# Outra maneira de verificar o tipo de algum objeto
isinstance(my_book, LibraryBook)

True

**Por que usar classes e quando usá-las?**

Os objetos simplificam os problemas, fornecendo uma abstração sobre certos tipos de dados e sua funcionalidade.

Em vez de pensar no problema em termos de cadeias de caracteres individuais, inteiros, etc., podemos agora pensar em termos de LibraryBooks (ou outros objetos).

**Encapsulação**

Os dados e a funcionalidade são agrupados em objetos.

Os métodos fornecem uma interface para o objeto. O ideal é que os dados individuais sejam apenas escritos e lidos através de métodos.

Isto significa que os detalhes sobre como a funcionalidade é implementada são escondidos do programador. Por exemplo, não sabemos como o método de anexar em listas é implementado.

Esta ideia permite que as classes sejam compartilhadas (em bibliotecas) e usadas por outros (ou reutilizadas por você) sem a necessidade de ler o código fonte da classe.

**init, parâmetro Self**
Campos de dados - Cada instância possui seus próprios dados (a classe pode definir quais nomes os campos de dados têm).

O método init(self, ...) é automaticamente executado por Python quando uma nova instância é criada. Este método é chamado de construtor de classe; ele inicializa os valores dos dados na classe.

In [3]:
"""
    Um livro da biblioteca.
    """
class LibraryBook (object):   

      """
      O parâmetro self é OBRIGATÓRIO dentro da classe, 
      porque ele diz ao programa para buscar/atuar sobre o objeto de instância
      que a executou.
      """  
      def __init__(self, title, author, pub_year, call_no):
          self.title = title
          self.author = author
          self.year = pub_year
          self.call_number = call_no
          self.checked_out = False

In [9]:
"""
Como já criamos meu_livro como um objeto do LibraryBook,
agora podemos adicionar manualmente o título, autor,... informações associadas ao livro.
"""

my_book.title = "Harry Potter and the Philosopher's Stone"
my_book.author = ('Rowling', 'J.K.')
my_book.year = 1998
my_book.call_number = "PZ7.R79835"

In [10]:
# mostre um campo de dados específico de uma instância executando o nome da instância e o nome do campo
print(my_book.title)
print(my_book.author)
print(my_book.year)
print(my_book.call_number)

Harry Potter and the Philosopher's Stone
('Rowling', 'J.K.')
1998
PZ7.R79835

In [12]:
"""
Ou podemos passar todas as informações para o __init__ para configurar os campos 
ao criar a nova instância.
"""

new_book = LibraryBook("Harry Potter and the Sorcerer's Stone", ("Rowling","J.K."), 1998, "PZ7.R79835")

new_book.author

TypeError: ignored

**Métodos**

Os métodos contêm a funcionalidade do objeto.

Estes são definidos na classe.

**Escrevendo um Método**

In [13]:
class LibraryBook(object):
    """
    Um livro da biblioteca.
    """
         
    def __init__(self, title, author, pub_year, call_no):
        self.title = title
        self.author = author
        self.year = pub_year
        self.call_number = call_no
    
    """
    Métodos para o LibraryBook
    """  

    # Retorna o título e as informações do autor do livro como uma string
    def title_and_author(self):
        return "{} {}: {}".format(self.author[1], self.author[0], self.title) 
    
    # Imprime todas as informações associadas a um livro neste formato
    def __str__(self): # certifique-se de que __str__ retorna uma string!
        return "{} {} ({}): {}".format(self.author[1], self.author[0], self.year, self.title) 

    # Retorna uma representação de string do livro com o título e call_number     
    def __repr__(self): 
        return "<Book: {} ({})>".format(self.title, self.call_number)

In [19]:
# A simples chamada da própria instância está desencadeando __repr__()
new_book

In [18]:
# print está desencadeando a __string__()
print(new_book)

J.K. Rowling (1998): Harry Potter and the Sorcerer's Stone

In [17]:
new_book = LibraryBook("Harry Potter and the Sorcerer's Stone", 
                       ("Rowling","J.K."), 1998, "PZ7.R79835")

new_book.title_and_author()

"J.K. Rowling: Harry Potter and the Sorcerer's Stone"

**Chamadas de Método Interno/Externo**

A única diferença é:

Externamente/fora da classe, você simplesmente executaria instanceName.method(), como new_book.title_and_author()

Internamente/na classe, você utilizaria self para indicar para aquela instância específica da classe, como self.title_and_author()

**Herança**

Exemplo de instância de relação.

nemo é uma instância de ClownFish (Peixe Palhaço).

In [20]:
class ClownFish(object):
    pass

nemo = ClownFish()

In [21]:
type(nemo)

__main__.ClownFish

In [22]:
isinstance(nemo, ClownFish)

True

Mas ClownFish (Peixe Palhaço) é também um peixe, um vertebrado e um animal, e cada um poderia ser uma classe separada.


Neste caso, precisamos ter relações entre as classes.

A classe ClownFish poderia ter a classe pai Fish,

que poderia ter a classe pai Vertebrate,

que poderia ter a classe pai Animal...

Esta relação é chamada de relação is-a (é-um). Esta relação se estabelece entre uma classe de filhos e sua classe de pais. Cada classe em Python tem pelo menos uma classe de pais.

(Note que a relação é uma relação transitória, portanto, todo ClownFish também é um Animal).

Há uma super classe em Python chamada objeto. Até agora, quando definimos classes, sempre fizemos do objeto o pai direto da classe.

In [23]:
class Animal(object):
    pass

class Vertebrate(Animal):
    pass

class Fish(Vertebrate):
    pass

class ClownFish(Fish):
    pass

class TangFish(Fish):
    pass

In [30]:
nemo = ClownFish()
isinstance(nemo, ClownFish)

True

In [31]:
isinstance(nemo, TangFish)

False

In [28]:
# A relação is-a (é-um) é transitiva
isinstance(nemo, Animal)

True

In [29]:
# Todas as classes têm uma classe pai de Objeto
isinstance(nemo, object)

True

**Métodos Herdados**

Por que usar a herança?

Toda classe também tem acesso aos atributos de classe da classe pai. Em particular, os métodos definidos na classe pai podem ser chamados em instâncias de seus "decendentes".

In [32]:
class Fish(Animal):
    def speak(self): 
        return "Blub"

class ClownFish(Fish):
    pass

class TangFish(Fish):
    pass

In [35]:
dory = TangFish()

"""
A classe TangFish é uma classe filha de Fish, por isso pode acessar speak() da classe Fish.
Esta classe procura primeiro o método de chamada dentro de sua classe e, se não for encontrado, então repete 
a busca por cada nível hierárquico superior.
"""
dory.speak()

"Hello, I'm a TangFish instance."

In [34]:
class TangFish(Fish):
    def speak(self):
        return "Hello, I'm a TangFish instance."

In [ ]:
dory = TangFish()

# este speak() é da classe TangFish
dory.speak()

In [37]:
"""
Por outro lado, como a classe ClownFish ainda NÃO 
define o speak(), as instâncias de ClownFish ainda estão usando o
speak() da classe pai de Fish.
"""

nemo = ClownFish()
nemo.speak()

"Hello, I'm a TangFish instance."

**Quando você escreve seu próprio método especial (como str). Você está substituindo o método com o mesmo nome definido no objeto.**

In [38]:
# O que acontece quando queremos imprimir a instância nemo?
print(nemo)

<__main__.ClownFish object at 0x7f30a01cf250>

In [39]:
#  A declaração print não é fácil de entender, por isso vamos ignorá-la.

class ClownFish(Fish):
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return "A ClownFish named "+self.name

In [40]:
nemo = ClownFish('Nemo')

print(nemo)

A ClownFish named Nemo

**Acessando Variáveis em uma Relação**

Em uma relação is-a (é-um), a classe filha pode acessar os atributos da classe pai se não estiver definida na classe filha, ou substituir o valor do atributo do mesmo atributo existente na classe filha.

Entretanto, se uma instância for definida em um dos níveis da classe pai, então ela NÃO poderá acessar os atributos que estão definidos em qualquer um dos níveis inferiores da classe filha.

In [41]:
class Fish(Vertebrate):

    # self.name não é definido na classe Fish, mas é definido na classe ClownFish.
    def __str__(self):
        return "Hello, my name is {}".format(self.name)
    
class ClownFish(Fish):
    def __init__(self, name):
        self.name = name

In [42]:
nemo = ClownFish("nemo")

# O atributo self.name para __str__() é da classe ClownFish
# mas __str__() é da classe Fish
print(nemo)

Hello, my name is nemo

In [ ]:
"""
ERROR, porque se nemo é um exemplo de classe Fish, 
então NÃO tem o atributo do nome.
"""
nemo = Fish()
print(nemo)

In [46]:
class Fish(Vertebrate):
    def __init__(self, name):
        self.name = name

    # self.name não é definido na classe Fish, mas é definido na classe ClownFish.
    def __str__(self):
        return "Hello, my name is {}".format(self.name)
    
class ClownFish(Fish):
    def __init__(self, name):
        self.name = name

In [48]:
nemo = ClownFish("Nemo")

# __str__() está acessando o self.name a partir do nível filha
print(nemo)

Hello, my name is Nemo

In [49]:
nemo = Fish("clown_fish")

#  __str__ está acessando o atributo self.name da classe Fish
print(nemo)

Hello, my name is clown_fish